// Form Filling

.formFilling-form {
  vertical-align: top;
}

.formMinWidth {
  height: 1px;
  width: 210px;
}

.formFillingPreview {
  @include double-border();
}

.formFilling-preview {
  padding-left: 2px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

#vcrControls {
  $size: 25px;

  padding-bottom: 5px;

  a {
    display: block;
    height: $size;
    width: $size;
  }

  td {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size $size;
  }

  .previewButtonFirst {
    background-image: url('http://russellinvestments.roi360.co.uk/Custom/Media/images/first.svg');
  }

  .previewButtonPrevious {
    background-image: url('http://russellinvestments.roi360.co.uk/Custom/Media/images/back.svg');
  }

  .previewButtonNext {
    background-image: url('http://russellinvestments.roi360.co.uk/Custom/Media/images/next.svg');
  }

  .previewButtonLast {
    background-image: url('http://russellinvestments.roi360.co.uk/Custom/Media/images/last.svg');
  }
}

// Page 1 of 3
.previewPageNumberText {
  padding: 3px 1em;
}
