// Look at this ID! Who on earth thought this was a good idea...?
#ctl00_ctl00_ContentPlaceHolderBody_StepArea1_ContentPlaceHolderStepArea_InputFields_InputFields {
  > div {
    margin-bottom: 15px;
  }

  p,
  input {
    margin: 3px 8px 3px 0;
  }
}

//
// Document preview
//
.formFillingPreview {
  @include double-border();
}

.formFilling-preview {
  padding-left: 2px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

//
// Preview page buttons
//
#vcrControls {
  $size: 25px;

  padding-bottom: 5px;

  a {
    display: block;
    height: $size;
    width: $size;
  }

  td {
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size $size;
  }

  .previewButtonFirst {
    background-image: url('https://russellwealthstore.co.uk/Custom/Media/images/first.svg');
  }

  .previewButtonPrevious {
    background-image: url('https://russellwealthstore.co.uk/Custom/Media/images/back.svg');
  }

  .previewButtonNext {
    background-image: url('https://russellwealthstore.co.uk/Custom/Media/images/next.svg');
  }

  .previewButtonLast {
    background-image: url('https://russellwealthstore.co.uk/Custom/Media/images/last.svg');
  }
}

//
// Page 1 of 3 text
//
.previewPageNumberText {
  padding: 3px 1em;
}
