.site-header {
  border-bottom: 5px solid $col-brand-warm-grey;
  padding: 1em $page-padding 0;
  position: relative;

  .site-header__stripes {
    height: 28px;
    left: 245px;
    position: absolute;
    top: 0;
  }

  .site-header__store-logo {
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    margin: 0;
    position: relative;
    top: 5px;
    vertical-align: bottom;
    width: 220px;

    img {
      border-bottom: 5px solid $col-brand-orange;
      padding-bottom: 5px;
    }
  }
}

.site-header__nav {
  bottom: 0;
  position: absolute;
  right: 0;

  > a {
    color: $col-text;
    font-size: .95em;
    margin: 0 .5em;
    padding-bottom: 7px;
    position: relative;
    top: 2px;

    &.current {
      border-bottom: 5px solid $col-brand-grey;
      padding-bottom: 2px;
    }

    span {
      $size: 1.4em;

      background-color: $col-brand-orange;
      border-radius: 100%;
      color: #fff;
      display: inline-block;
      font-size: .95em;
      height: $size;
      padding-top: .08em;
      text-align: center;
      width: $size;
    }
  }

  > * {
    display: inline-block;
    margin: 0 1em;
  }

  img {
    padding-bottom: 5px;
    vertical-align: bottom;
    width: 200px;
  }
}

.site-header__search {
  $size: 40px;

  background-color: $col-brand-blue;
  background-image: url('/Custom/Media/images/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  height: $size;
  position: relative;
  vertical-align: bottom;
  width: $size;

  &:hover {
    > div {
      opacity: 1;
      transition-delay: 0s;
      visibility: visible;
    }
  }

  > div {
    background-color: $col-brand-blue;
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 100%;
  }
}

.site-header__search-input {
  background-color: $col-brand-blue;
  height: 33px;
  padding: 4px;
  position: relative;
  width: 150px;

  * {
    border: 2px solid #fff;
    height: 25px;
    position: absolute;
    top: 4px;
  }

  input {
    width: 111px;
  }

  a {
    color: #fff;
    left: 115px;
    padding: 3px;
    width: 31px;
  }
}
