// They seriously messed up the HTML here...
span.smallButton,
span.siteButton,
span.searchButton,
a.smallButton,
a.siteButton,
a.searchButton {
  font-size: 12px;
  transition: background-color .2s ease;
}

a.smallButton,
a.siteButton,
a.searchButton {
  background: $col-button-bg;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: .1em;
  padding: .8em 1em;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

a.smallButton {
  padding: .5em .7em;
}

span.siteButton:hover,
span.smallButton:hover,
span.searchButton:hover,
a.siteButton:hover,
a.smallButton:hover,
a.searchButton:hover {
  background: lighten($col-button-bg, 3);
}

