.stepAreaFooterNextPrevControls {
  float: none !important;
}

.stepControlsHeader {
  display: none;
}

.stepControls {
  @include side-box();

  white-space: nowrap;

  a {
    font-size: 1.1em;
  }

  tr td {
    padding: 0 0 10px 5px;
    position: relative;
  }

  tr:last-child td {
    padding-bottom: 0;
  }

  .stepControlLabelSelected:before {
    content: '▶';
    font-size: 10px;
    left: -10px;
    position: absolute;
    top: 2px;
  }

  .stepControlNumberSelected,
  .stepControlNumberRollover,
  .stepControlNumber {
    display: none;
  }
}
