.stepArea {
  background: #fff;
  padding: 11px 13px;
}

.stepAreaFooter {
  background: #e8ebea;
  vertical-align: middle;
}

.stepLabel {
  font-weight: bold;
}

.currentStepIndicator {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
}

.stepAreaHeaderNextPrevControls,
.stepAreaFooterNextPrevControls {
  background: url('Images/StepNextPrevBackground.gif') repeat-x;
  border-width: 0 1px;
  padding: 0 4px;
}

.stepNextPrevLabel {
  font-size: 9px;
  height: 26px;
  padding-top: 4px;
  vertical-align: middle;
}

.stepNextPrevLabel,
.stepNextPrevLabelRollover {
  color: #000;
  font-size: 9px;
  font-weight: bold;
  padding: 0 5px;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

.stepNextPrevLabelRollover {
  color: #0069aa;
  cursor: pointer;
}

.stepControlsHeader {
  background-color: #0069aa;
  padding: 5px;
}

.stepControlsTitle {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 12px;
  text-transform: none;
}

.stepControls {
  background-color: #80a1b6;
  padding-right: 30px;
}

.stepControl {
  background: #333;
  border-left: 18px solid #333;
  height: 20px;
  padding: 3px0 16px0;
  vertical-align: top;
}

.stepControlNumber,
.stepControlNumberRollover,
.stepControlNumberSelected {
  background: #fff;
  color: #0069aa;
  font-size: 14px;
  font-weight: bold;
  height: 21px;
  padding: 0 10px0 31px;
  vertical-align: middle;
  width: 31px;
}

.stepControlNumberRollover {
  background-color: #ededea;
  background-position: top left;
  background-repeat: no-repeat;
}

.stepControlNumberSelected {
  background-color: #ededea;
  background-position: top left;
  background-repeat: no-repeat;
  color: #1b8b75;
}

.stepControlLabel,
.stepControlLabelRollover,
.stepControlLabelSelected {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px0 8px;
  vertical-align: middle;
}

.stepControlLabel,
.stepControlLabelSelected {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

.stepControlLabelSelected {
  color: #fff;
}

.stepCart {
  padding-right: 2px;
}

.stepCancel {
  padding-right: 3px;
}
