// Core colour palette
$col-brand-grey: lighten(#5f6062, 10);
$col-brand-orange: #f57e20;
$col-brand-blue: #79bde8;
$col-brand-black: #231f20;

// Secondary colour palette
$col-brand-warm-grey: #a49a94;
$col-brand-beige: #dbd8bd;

//
// Mappings
//

$col-text: $col-brand-black;

$col-box-outline: #bec5c7;

$col-bg-grad-top: #e3e6e6;
$col-bg-grad-btm: #fff;

// Bits
$col-button-bg: $col-brand-blue;
