// Core colour palette
$col-brand-grey: #5f6062;
$col-brand-orange: #f57e20;
$col-brand-blue: #79bde8;
$col-brand-black: #231f20;

// Secondary colour palette
$col-brand-warm-grey: #a49a94;
$col-brand-beige: #dbd8bd;

//
// Mappings
//

$col-text: $col-brand-black;

$col-bg-grad-top: $col-brand-beige;
$col-bg-grad-btm: lighten($col-brand-beige, 10);

// Bits
$col-button-bg: $col-brand-blue;
