// Core colour palette
$col-brand-blue: #6ad;
$col-brand-grey: #5c5c5c;
$col-brand-orange: #d60;

$col-brand-link: #267bb8;

// Secondary colour palette
$col-brand-beige: #dbd8bd;
$col-brand-black: #333;
$col-brand-warm-grey: #9e9e9e;
$col-brand-stone: #a3abad;
$col-brand-light-grey: #e9e5e3;
$col-brand-tan: #ccb;

$col-table-bg-th: #d7e2eb;
$col-table-bg-odd: #f0f7fc;
$col-table-bg-even: #f5f3f2;


//
// Mappings
//

$col-text: $col-brand-black;

$col-box-outline: $col-brand-warm-grey;

$col-bg-grad-top: #e3e6e6;
$col-bg-grad-btm: #fff;

// Bits
$col-button-bg: $col-brand-blue;
